<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>商品类别</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/my.css">
    <link rel="stylesheet" href="../css/element/index.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="wrapper" v-cloak>
        <nav class="navbar navbar-default navbar-cls-top" style="margin-bottom: 0">
            <div>
                <a class="navbar-brand" href="index.html">后台管理系统</a>
            </div>
            <div class="header-right">
                <a href="javascript:;" class="btn btn-info" @click="logout" title="退出登录">
                    <i class="fa fa-sign-out fa-2x"></i>
                </a>
            </div>
            <div class="header-right">
                <a href="accountUserInfo.html" class="btn btn-info" title="个人信息">
                    <i class="fa fa-user fa-2x"></i>
                </a>
            </div>
            <div class="header-right" style="padding-top: 24px;">
                <!-- {{user.name}} -->
                欢迎你,
                 {{user.nickname}}
            </div>
        </nav>
        <nav class="navbar-default navbar-side">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard"></i>系统首页</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-yelp"></i>信息展示<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in">
                            <li v-if="user.level===1"> <a href="userInfo.html"><i class="fa fa-table"></i>用户信息</a></li>
                            <li> <a href="advertiserInfo.html"><i class="fa fa-table"></i>公告信息</a></li>
                            <li> <a href="orderInfo.html"><i class="fa fa-table"></i>订单信息</a></li>
                            <li> <a href="commentInfo.html"><i class="fa fa-table"></i>评论信息</a></li>
                            <li v-if="user.level===1"> <a href="typeInfo.html" class="active-menu"><i class="fa fa-table"></i>商品类别</a></li>
                            <li> <a href="goodsInfo.html"><i class="fa fa-table"></i>商品详情</a></li>
                        </ul>
                    </li>
                    <li> <a href="userDetail.html"><i class="fa fa-user"></i>个人信息</a></li>
                    <li> <a href="updatePassword.html"><i class="fa fa-unlock-alt"></i>修改密码</a></li>
                    <li> <a href="javascript:;" @click="logout"><i class="fa fa-power-off"></i>退出登录</a></li>

                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                商品类别列表
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div class="nx-table-header">
                                        <button class="btn btn-sm btn-primary" v-on:click="add()">新增</button>
                                        <input type="text" placeholder="请输入搜索内容" v-model="name"
                                            @keyup.enter="loadTable(1)">
                                        <a href="javascript:;"><i class="glyphicon glyphicon-search"
                                                @click="loadTable(1)"></i></a>
                                    </div>
                                    <table class="table table-striped table0bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>类别名称</th>
                                                <th>类别介绍</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody v-for="obj in objs">
                                            <tr>
                                                <td>{{obj.id}}</td>
                                                <td>{{obj.name}}</td>
                                                <td>{{obj.description}}</td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs" @click="init(obj)">编辑</button><button class="btn btn-danger btn-xs" @click="del(obj.id)">删除</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation" >
                                        <ul class="pagination">
                                            <li>
                                                <a href="javascript:;" v-if="!preActive" aria-label="Previous" v-on:click="loadTable(pageInfo.pageNum-1)">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li><a href="javascript:;" v-if="pageInfo.pageNum>1" v-on:click="loadTable(pageInfo.pageNum-1)">{{pageInfo.pageNum-1}}</a></li>
                                            <li><a href="javascript:;">{{pageInfo.pageNum}}</a></li>
                                            <li><a href="javascript:;" v-on:click="loadTable(pageInfo.pageNum+1)" v-if="pageInfo.hasNextPage">{{pageInfo.pageNum+1}}</a></li>
                                            <li>
                                                <a href="javascript:;" aria-label="Next" v-on:click="loadTable(pageInfo.pageNum+1)" v-if="pageInfo.hasNextPage">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 模态框 -->
        <div class="modal" id="mod">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title">请填写信息</span>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <input type="hidden" id="id" name="id" v-model="entity.id">
                            <div class="form-group">
                                <div class="col-sm-3 control-lable">类别名称</div>
                                <div class="col-sm-7"><input type="text" class="form-control" v-model="entity.name"
                                        placeholder="请输入名称"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-lable">类别介绍</div>
                                <div class="col-sm-7"><input type="text" class="form-control" v-model="entity.description"
                                        placeholder="请输入介绍"></div>
                            </div>
                            <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button><button type="button" class="btn btn-primary" @click="save()">保存</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.10.2.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.metisMenu.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/my.js"></script>
    <script src="../js/vue2.6.11/vue.min.js"></script>
    <script src="../js/vue2.6.11/axios.js"></script>
    <script src="../js/echarts.min.js"></script>
    <script src="../js/element/index.js"></script>
    <script>
        function msg(type, msg) {
            Vue.prototype.$message({
                type: type,//succee成功 warning警告 error错误
                message: msg,
                duration: 2000,
                offset: 100,
                center: true
            })
        }
        new Vue({
            el: "#wrapper",
            data: {
                user: {},
                name: '',
                objs: [],
                pageInfo: {},
                preActive: true,//有上\下一页为false
                nextActive: true,
                entity: {
                    
                }
            },
            created: function () {
                this.user = JSON.parse(localStorage.getItem('user'));
                this.loadTable(1);
            },
            methods: {
                loadTable(pageNum) {
                    let name=this.name===''?'':'/'+this.name;
                    axios.get("/type/"+pageNum+name).then(res => {
                        if (res.data.code === '0') {
                            this.objs = res.data.data.list;
                            this.pageInfo = res.data.data;
                            this.preActive = !(this.pageInfo.hasPreviousPage);
                            this.nextActive = !(this.pageInfo.hasNextPage);
                        } else {
                            msg('error', res.data.msg);
                        }
                    });
                },
                // 显示新增
                add() {
                    this.entity={}
                    $('#mod').modal('show');
                },
                save(){
                    if(!this.entity.id){             //新增
                        axios.post("/type",this.entity).then(res=>{
                            if(res.data.code==='0'){
                                msg('success','添加成功');
                                $('#mod').modal('hide');
                                this.loadTable(1);
                            }else{
                                msg('error',res.data.msg);
                            }
                        });
                    }else{                          //更新
                        axios.put("/type",this.entity).then(res=>{
                            if(res.data.code==='0'){
                                msg('success','修改成功');
                                $('#mod').modal('hide');
                                this.loadTable(1);
                            }else{
                                msg('error',res.data.msg);
                            }
                        })
                    }
                },
                init(o){
                    this.entity=JSON.parse(JSON.stringify(o))
                    $('#mod').modal('show');
                },
                del(id){
                    let _this=this;
                    this.$confirm('是否删除?','系统提示',{
                        confirmButtonText:'确定',
                        cancelButtonText:'取消',
                        confirmButtonClass:'btn-custom-cancel',
                        type:'warning'
                    }).then(()=>{
                        axios.delete("/type/"+id).then(res=>{
                            if(res.data.code==='0'){
                                msg('success','删除成功');
                                _this.loadTable(1);
                            }else{
                                msg('error',res.data.msg);
                            }
                        })
                    })
                }
            }
        })
    </script>
</body>

</html>